<!doctype html>
<!--[if IE 7]>    <html class="ie7" > <![endif]-->
<!--[if IE 8]>    <html class="ie8" > <![endif]-->
<!--[if IE 9]>    <html class="ie9" > <![endif]-->
<!--[if IE 9]>    <html class="ie10" > <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!--> <html lang="en-US"> <!--<![endif]-->
       
      
<head>
        <script type="text/javascript">

      window.fbAsyncInit = function() {
    FB.init({
        appId   : 'YOUR_APP_ID',
        oauth   : true,
        status  : true, // check login status
        cookie  : true, // enable cookies to allow the server to access the session
        xfbml   : true // parse XFBML
    });

  };

function fb_login(){
    FB.login(function(response) {

        if (response.authResponse) {
            console.log('Welcome!  Fetching your information.... ');
            //console.log(response); // dump complete info
            access_token = response.authResponse.accessToken; //get access token
            user_id = response.authResponse.userID; //get FB UID

            FB.api('/me', function(response) {
                user_email = response.email; //get user email
          // you can store this data into your database             
            });

        } else {
            //user hit cancel button
            console.log('User cancelled login or did not fully authorize.');

        }
    }, {
        scope: 'publish_stream,email'
    });
}
(function() {
    var e = document.createElement('script');
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
}());
</script>
                <!-- META TAGS -->
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width" />
                
                <!-- Title -->
                <title>Voyage à la Carte</title>
                
               <link rel="stylesheet" href="{{asset('bundles/voyage/css/bootstrap.css')}}">
                <link rel="stylesheet" href="{{asset('bundles/voyage/css/style.css')}}">
                <link rel="stylesheet" href="{{asset('bundles/voyage/css/responsive.css')}}">
                <link rel="stylesheet" href="{{asset('bundles/voyage/css/flexslider.css')}}">
                
               <!-- favicon -->
                <link rel="shortcut icon" href="{{asset('bundles/voyage/images/favicon.png')}}">
                
                <!--[if lt IE 9]>
                        <script src="js/html5shiv.js"></script>
                        <link rel="stylesheet" href="css/ie.css">
                <![endif]-->
        </head>
        <body>
                <!-- HEADER -->
                <div id="top"></div>
                <div class="header-wrapper header_two">
                    <div class="container">
                        <div class="row">

                            <!-- Logo -->
                            <div class="span2">
                                <div class="logo">
                                    <a href="{{path('voyage_homepage')}}"><img src="{{asset('bundles/voyage/images/logo.png')}}" alt="Logo"></a>
                                </div>
                            </div>
                            <!-- Logo -->

                            <!--top Menu -->
                            <div class="span7">
                                <div class="top-menu">
                                    <ul>
                                        <li><a href="#">Qui sommes nous ?</a></li>
                                        <li><a href="#">Nouvelles</a></li>
                                        <li><a href="#">Services</a></li>
                                        
                                        <li><a href="#" class="last">aide</a></li>
                                    </ul>
                                </div>
                                <form class="serch" action="{{path('recherche')}}" method=POST >
                                    <input type="text" placeholder="search" name="search" />
                                    <input type="submit" value="" onkeyup=""/>
                                </form>
                            </div>
                            <!--top Menu -->

                            <div class="span3 login_btn">
                                <div class="lan">
                                    <p><a href="#">En</a><span>|</span><a href="#">Fr</a></p>
                                </div>
                                <div class="btns">
                                     <a href="{{path('voyage_homepage')}}logout" id="login-link">logout</a>
                                   
                                    <a href="{{path('voyage_homepage')}}login" id="login-link">Login</a>
                                    <a href="{{path('voyage_homepage')}}register" id="signon-link">Inscription</a>
                                </div>
{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}

                                        <div class="social-nav">
                                            <a href="#" class="facebook"  onclick="fb_login();"y></a>
                                            <a href="#" class="twitter" ></a>
                                            <a href="#" class="google"></a>
                                            <a href="#" class="rss"></a>
                                        </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- HEADER -->
                
 
              <script src="{{asset('bundles/voyage/js/jquery.min.js')}}"></script>
  
                
             <script type="application/x-javascript"> 
		 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		</script>
		 <!--hatha ili bih il feyda fil design --> <link rel="stylesheet" href="{{asset('bundles/voyage/css2/style.css')}}">
		<!-- hatha  mta3 il login --> <script type="text/javascript" src="{{asset('bundles/voyage/js/login.js')}}"></script>
		 
	                 
                                        
                                        
                                        
                                        
                <div class="nav-wrapper nav-two" id="fixed" >
                    <div class="container" >

                                <nav class="nav frist-top-nav"  >
                                    <ul>
                                        <li><a href="{{path('voyage_homepage')}}">accueil </a>
                                          <!--  <ul class="clearfix">
                                                <li><a href="index2.html">Home 2</a></li>
                                                <li><a href="index3.html">Home 3 </a></li>
                                            </ul>-->
                                        </li>
                                        
                                        <li><a href="{{path('annonce')}}">Annonces</a>
                                            <ul class="clearfix">
                                                <li><a href="{{path('annonce_create')}}">Ajout Annonce</a>
                                                <li><a href="{{path('annonce2')}}">List Annonce</a></li>
                                                <li><a href="{{ path('annonce_show', { 'id': 1 }) }}">Detail Annonce</a></li>
                                            </ul>
                                        </li>
                                        
                                   
                                        <li><a href="{{path('annonce')}}">Reservation<label>2</label></a></li>
                                         <li><a href="{{path('proposition')}}">Proposition<label>6</label></a></li>
                                        <li  class="last"><a href="{{path('voyage_contact')}}">Contact</a></li>
                                   
                                            
				                    <div id="loginBox" style="display: none;">                
				                      <form id="loginForm">
				                        <fieldset id="body">
				                            <div class="user-info">
							        			<h4>Hello,<a href="#"> admin</a></h4>
							        			<ul>
							        				<li class="profile active"><a href="{{path('profil')}}">Profile </a></li>
							        				<li class="logout"><a href="#"> Logout</a></li>
							        				<div class="clear"></div>		
							        			</ul>
							    </div>			                            
				                        </fieldset>
				                    </form>
				                </div>
                                                
                                                        <ul class="menu profile_img">
                                                            <li><a class="active-icon c1" id="7ell" href="{{path('profil')}}" > <img src="{{asset('bundles/voyage/img/profile-pic.png')}}" /></a>
									<ul class="sub-menu">
										<li><a href="#"><img src="{{asset('bundles/voyage/images/supr.png')}}" alt="" />Profile</a></li>
										<li><a href="#"><img src="{{asset('bundles/voyage/images/start.png')}}" alt="" />Favourites</a></li>
										<li><a href="#"><img src="{{asset('bundles/voyage/images/gar.png')}}" alt="" />Settings</a></li>
										<li><a href="#"><img src="{{asset('bundles/voyage/images/logout.png')}}" alt="" />Logout</a></li>
									</ul>
								</li>
							</ul>
                                         <a id="loginButton" class=""><span> admin </span></a>
                                                    
                                         </ul>
                                </nav>

                                </div>       
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <div class="responsive_nav">
                                    <ul>
                                        <li class="open">
                                            <a href="#">HOME</a>
                                            <ul>
                                                <li><a href="#">Home </a></li>
                                                <li><a href="#">Hotels</a></li>
                                                <li><a href="#">Holidays</a></li>
                                                <li><a href="#">Flights</a> </li>
                                                <li><a href="#">Camera</a></li>
                                                <li><a href="#">Notebook </a></li>
                                                <li><a href="#">Tablet </a> </li>
                                                <li><a href="#">Television </a> </li>
                                                <li><a href="#">Smart Phone </a> </li>
                                                <li><a href="#">Projection </a> </li>
                                                <li><a href="#">Cars</a></li>
                                                <li><a href="#">Vacations</a></li>
                                                <li><a href="#">Guide Book</a></li>
                                                <li><a href="#">Hot Deal</a></li>
                                                <li><a href="#">Cruise</a></li>
                                                <li class="last"><a href="#">Promotion</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                
                <!-- Main Navigation -->
                  
                
                
                
{% block contains %}
{% endblock %}                
                
                
                
                
                
                
                
                
                
                <!-- Footer widget -->
                <div class="footer-widget-wrapper">
                	<div class="container">
                    	<div class="row">
                        	
                            <div class="span3 f-widget copy-right">
                            	<a href="#" class="f-logo"><img src="{{asset('bundles/voyage/images/logo.png')}}" alt="Logo"></a>
                            	<p>© 2014 <a href="#">Helpers-Team</a>. All rights reserved</p>
                            	<p>Designed by Helpers</p>
                            </div>
                            <div class="span3 f-widget">
                            	<h4>Company Infomation</h4>
                                <ul>
                                	<li><a href="#">About US</a></li>
                                	<li><a href="#">Team</a></li>
                                	<li><a href="#">Booking Tips</a></li>
                                	<li><a href="#">Payment Option</a></li>
                                	<li class="last"><a href="#">Infomation</a></li>
                                </ul>
                            </div>
                            <div class="span3 f-widget">
                            	<h4>Customer Care</h4>
                                <ul>
                                	<li><a href="#">About US</a></li>
                                	<li><a href="#">Team</a></li>
                                	<li><a href="#">Booking Tips</a></li>
                                	<li><a href="#">Payment Option</a></li>
                                	<li class="last"><a href="#">Infomation</a></li>
                                </ul>
                            </div>
                            <div class="span3 f-widget">
                            	<div class="cc">
                            		<h4>Team Contact</h4>
                            		<h2>00 216 95 215 234</h2>
                            		<span class="pull-right">Support 24/24</span>
                            	</div>
                            	<div class="f-widget n-letter">
                                	<h4>Newsletter</h4>

                                    <form>
                                        <input type="text" name="newlatter" value="Enter your email...">
                                        <input type="submit" name="submite-newslatter" value="Send">
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- Footer widget -->
                
                <!-- Footer -->
                <div class="footer-wrapper">
                	<div class="container">
                    	<div class="row">
                        	<div class="span12">
                            
                            	<footer>
                                	<div class="footer-nav">
                                    	<ul>
                                    		<li><a href="#">About US</a></li>
                                    		<li><a href="#">News</a></li>
                                    		<li><a href="#">Serbice</a></li>
                                    		<li><a href="#">Recruiment </a></li>
                                    		<li><a href="#">Media</a></li>
                                    		<li><a href="#">Support</a></li>
                                    	</ul>
                                    </div>
                                    <a href="javascript:void(0)" onClick="goToByScroll('top')" class="gotop"></a>
                                </footer>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer -->
                
               <!-- <div class="login-popup-wrapper">
                    <div id="login-popup">
                         <a href="#" class="close">Close</a>
                    	<h2>authentification</h2>
                        <form method="get" action="#">
                            <input type="text" value="" id="username" placeholder="kimo@gmail.com" />
                            <input type="text" value="" id="password" placeholder="Password" />
                            
                            <input type="submit" value="sıgn ın" id="login-button"/>
                        </form>
                       
                    </div>
                </div>
                <div class="signon-popup-wrapper">
                    <div id="signon-popup">
                        <a href="#" class="close2">Close</a>
                    	<h2>Inscription Client</h2>
                        <h5><a href="{{path('inscription')}}">Vous etes un Agent </a></h5>
                        <form method="get" action="#">
                            <input type="text" value="" id="username" placeholder="Nom" />
                            <input type="email" value="" id="username" placeholder="email@email.exemple" />
                            
                            <input type="password" value="" id="password" placeholder="Password" />
                            <input type="password" value="" id="password" placeholder="verif Password" />
                            
                            <input type="submit" value="S'inscrir" id="login-button"/>
                        </form>
                        
                    </div>
                </div>
                 -->



                <!-- Scripts -->
		<script src="{{asset('bundles/voyage/js/jquery-1.7.1.min.js')}}"></script>
		<script src="{{asset('bundles/voyage/js/jquery.flexslider.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery.flexslider-min.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery.elastislide.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery.carouFredSel-6.0.4-packed.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jcarousellite_1.0.1.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery.zweatherfeed.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery.simpleWeather-2.3.min.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery.cycle.all.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery-ui.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/bootstrap.min.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery.isotope.min.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery.tinyscrollbar.min.js')}}"></script>
                <script>
                    function goToByScroll(id){
                        $ = jQuery;
                        $('html,body').animate({scrollTop: $("#"+id).offset().top},3000);
                    }
                </script>
                <script type="text/javascript">

        var authurl = '{{ path('_security_check_facebook') }}';

        function goLogIn(){
            window.location = authurl;
        }

        function onFbInit() {
            if (typeof(FB) != 'undefined' && FB != null ) {
                FB.Event.subscribe('auth.statusChange', function(response) {
                    setTimeout(goLogIn, 500);
                });
            }
        }

</script>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $('.scrollbar1').tinyscrollbar();
                    });
                    
                    
                    
                    $(window).scroll(function () {  
                        $('#fixed').css({"position":"fixed", "top":"160px", "left":"0px", "right":"0px"});

                        if ($(window).scrollTop() > 1)
                        {
                            $('#fixed').css({"position":"fixed", "top":"0px", "left":"0px", "right":"0px"});
                        }
    });
                </script>
                <script src="{{asset('bundles/voyage/js/custom.js')}}"></script>		
		</body>

</html>