<!doctype html>
<!--[if IE 7]>    <html class="ie7" > <![endif]-->
<!--[if IE 8]>    <html class="ie8" > <![endif]-->
<!--[if IE 9]>    <html class="ie9" > <![endif]-->
<!--[if IE 9]>    <html class="ie10" > <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!--> <html lang="en-US"> <!--<![endif]-->
        
<head>
                <!-- META TAGS -->
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width" />
                
                <!-- Title -->
                <title>Voyage à la Carte</title>
                
               <link rel="stylesheet" href="{{asset('bundles/voyage/css/bootstrap.css')}}">
                <link rel="stylesheet" href="{{asset('bundles/voyage/css/style.css')}}">
                <link rel="stylesheet" href="{{asset('bundles/voyage/css/responsive.css')}}">
                <link rel="stylesheet" href="{{asset('bundles/voyage/css/flexslider.css')}}">
                
               <!-- favicon -->
                <link rel="shortcut icon" href="{{asset('bundles/voyage/images/favicon.png')}}">
                
                <!--[if lt IE 9]>
                        <script src="js/html5shiv.js"></script>
                        <link rel="stylesheet" href="css/ie.css">
                <![endif]-->
        </head>
        <body>
                <!-- HEADER -->
                <div id="top"></div>
                <div class="header-wrapper header_two">
                    <div class="container">
                        <div class="row">

                            <!-- Logo -->
                            <div class="span2">
                                <div class="logo">
                                    <a href="{{path('voyage_homepage')}}"><img src="{{asset('bundles/voyage/images/logo.png')}}" alt="Logo"></a>
                                </div>
                            </div>
                            <!-- Logo -->

                            <!--top Menu -->
                            <div class="span7">
                                <div class="top-menu">
                                    <ul>
                                        <li><a href="#">Qui sommes nous ?</a></li>
                                        <li><a href="#">Nouvelles</a></li>
                                        <li><a href="#">Services</a></li>
                                        
                                        <li><a href="#" class="last">aide</a></li>
                                    </ul>
                                </div>
                                <form class="serch">
                                    <input type="text" placeholder="Search"/>
                                    <input type="submit" value=""/>
                                </form>
                            </div>
                            <!--top Menu -->

                            <div class="span3 login_btn">
                                <div class="lan">
                                    <p><a href="#">En</a><span>|</span><a href="#">Us</a></p>
                                </div>
                                <div class="btns">
                                    <a href="#" id="login-link">Login</a>
                                    <a href="#" id="signon-link">Inscription</a>
                                </div>

                                        <div class="social-nav">
                                            <a href="#" class="facebook "></a>
                                            <a href="#" class="twitter" ></a>
                                            <a href="#" class="google"></a>
                                            <a href="#" class="rss"></a>
                                        </div>





                            </div>

                        </div>
                    </div>
                </div>
                <!-- HEADER -->
                <!-- Main Navigation -->
                <div class="nav-wrapper nav-two">
                    <div class="container">
                        <div class="row">
                            <div class="span12">

                                <nav>
                                    <ul>
                                        <li><a href="{{path('voyage_homepage')}}">Home </a>
                                            <ul class="clearfix">
                                                <li><a href="index2.html">Home 2</a></li>
                                                <li><a href="index3.html">Home 3 </a></li>
                                            </ul>
                                        </li>
                                        
                                        <li><a href="{{path('voyage_list_annonces')}}">Travel</a>
                                            <ul class="clearfix">
                                                <li><a href="travel_grid.html">Travel Grid</a></li>
                                                <li><a href="list_annonces">Travel list</a></li>
                                                <li><a href="{{path('voyage_details')}}">Travel Detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Holidays</a></li>
                                        <li>
                                            <a href="#">Flights</a>
                                            <ul class="clearfix">
                                                <li><a href="#">Camera</a></li>
                                                <li><a href="#">Notebook </a></li>
                                                <li><a href="#">Tablet </a> </li>
                                                <li><a href="#">Television </a> </li>
                                                <li><a href="#">Smart Phone </a> </li>
                                                <li><a href="#">Projection </a> </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Cars</a></li>
                                        <li><a href="#">Vacations</a></li>
                                        <li><a href="#">Guide Book</a></li>
                                        <li><a href="#">Hot Deal</a></li>
                                        <li><a href="booking.html">Booking</a>
                                            <ul class="clearfix">
                                                <li><a href="confirm.html">Confirmation</a></li>
                                            </ul>
                                        </li>
                                        <li  class="last"><a href="{{path('voyage_contact')}}">Contact</a></li>
                                    </ul>
                                </nav>

                                <div class="responsive_nav">
                                    <ul>
                                        <li class="open">
                                            <a href="#">HOME</a>
                                            <ul>
                                                <li><a href="#">Home </a></li>
                                                <li><a href="#">Hotels</a></li>
                                                <li><a href="#">Holidays</a></li>
                                                <li><a href="#">Flights</a> </li>
                                                <li><a href="#">Camera</a></li>
                                                <li><a href="#">Notebook </a></li>
                                                <li><a href="#">Tablet </a> </li>
                                                <li><a href="#">Television </a> </li>
                                                <li><a href="#">Smart Phone </a> </li>
                                                <li><a href="#">Projection </a> </li>
                                                <li><a href="#">Cars</a></li>
                                                <li><a href="#">Vacations</a></li>
                                                <li><a href="#">Guide Book</a></li>
                                                <li><a href="#">Hot Deal</a></li>
                                                <li><a href="#">Cruise</a></li>
                                                <li class="last"><a href="#">Promotion</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main Navigation -->
                  
                
                
                
{% block contains %}
{% endblock %}                
                
                
                
                
                
                
                
                
                
                <!-- Footer widget -->
                <div class="footer-widget-wrapper">
                	<div class="container">
                    	<div class="row">
                        	
                            <div class="span3 f-widget copy-right">
                            	<a href="#" class="f-logo"><img src="{{asset('bundles/voyage/images/logo.png')}}" alt="Logo"></a>
                            	<p>© 2014 <a href="#">Helpers-Team</a>. All rights reserved</p>
                            	<p>Designed by Helpers</p>
                            </div>
                            <div class="span3 f-widget">
                            	<h4>Company Infomation</h4>
                                <ul>
                                	<li><a href="#">About US</a></li>
                                	<li><a href="#">Team</a></li>
                                	<li><a href="#">Booking Tips</a></li>
                                	<li><a href="#">Payment Option</a></li>
                                	<li class="last"><a href="#">Infomation</a></li>
                                </ul>
                            </div>
                            <div class="span3 f-widget">
                            	<h4>Customer Care</h4>
                                <ul>
                                	<li><a href="#">About US</a></li>
                                	<li><a href="#">Team</a></li>
                                	<li><a href="#">Booking Tips</a></li>
                                	<li><a href="#">Payment Option</a></li>
                                	<li class="last"><a href="#">Infomation</a></li>
                                </ul>
                            </div>
                            <div class="span3 f-widget">
                            	<div class="cc">
                            		<h4>Team Contact</h4>
                            		<h2>00 216 95 215 234</h2>
                            		<span class="pull-right">Support 24/24</span>
                            	</div>
                            	<div class="f-widget n-letter">
                                	<h4>Newsletter</h4>

                                    <form>
                                        <input type="text" name="newlatter" value="Enter your email...">
                                        <input type="submit" name="submite-newslatter" value="Send">
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- Footer widget -->
                
                <!-- Footer -->
                <div class="footer-wrapper">
                	<div class="container">
                    	<div class="row">
                        	<div class="span12">
                            
                            	<footer>
                                	<div class="footer-nav">
                                    	<ul>
                                    		<li><a href="#">About US</a></li>
                                    		<li><a href="#">News</a></li>
                                    		<li><a href="#">Serbice</a></li>
                                    		<li><a href="#">Recruiment </a></li>
                                    		<li><a href="#">Media</a></li>
                                    		<li><a href="#">Support</a></li>
                                    	</ul>
                                    </div>
                                    <a href="javascript:void(0)" onClick="goToByScroll('top')" class="gotop"></a>
                                </footer>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer -->
                
                <div class="login-popup-wrapper">
                    <div id="login-popup">
                    	<h2>authentification</h2>
                        <form method="get" action="#">
                            <input type="text" value="" id="username" placeholder="kimo@gmail.com" />
                            <input type="text" value="" id="password" placeholder="Password" />
                            
                            <input type="submit" value="sıgn ın" id="login-button"/>
                        </form>
                        <a href="#" class="close">Close</a>
                    </div>
                </div>
                <div class="signon-popup-wrapper">
                    <div id="signon-popup">
                    	<h2>Inscription</h2>
                        <form method="get" action="#">
                            <input type="text" value="" id="name" placeholder="Nom" />
                            <input type="email" value="" id="username" placeholder="email@email.exemple" />
                            
                            <input type="password" value="" id="password" placeholder="Password" />
                            <input type="password" value="" id="password" placeholder="verif Password" />
                            
                            <input type="submit" value="s'inscrir" id="login-button"/>
                        </form>
                        <a href="#" class="close2">Close</a>
                    </div>
                </div>



                <!-- Scripts -->
				<script src="{{asset('bundles/voyage/js/jquery-1.7.1.min.js')}}"></script>
				<script src="{{asset('bundles/voyage/js/jquery.flexslider.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery.flexslider-min.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery.elastislide.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery.carouFredSel-6.0.4-packed.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jcarousellite_1.0.1.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery.zweatherfeed.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery.simpleWeather-2.3.min.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery.cycle.all.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery-ui.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/bootstrap.min.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery.isotope.min.js')}}"></script>
                <script src="{{asset('bundles/voyage/js/jquery.tinyscrollbar.min.js')}}"></script>
                <script>
                    function goToByScroll(id){
                        $ = jQuery;
                        $('html,body').animate({scrollTop: $("#"+id).offset().top},3000);
                    }
                </script>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $('.scrollbar1').tinyscrollbar();
                    });
                </script>
                <script src="{{asset('bundles/voyage/js/custom.js')}}"></script>		
		</body>

</html>