{% extends "VoyageBundle::layout.html.twig"%}

{% block contains %}


<div class=contains>

                <!-- Slider -->
				<div class="flexslider">
                	<ul class="slides">
                            
                            
                            
                         {% for annonce in annonces %}    
                        <li>
                          <img src="{{asset(annonce.image)}}" alt="Slider Image">
                          <div class="detail-one">
                            <h3>{{annonce.nom}}</h3>
                            <h2>{{annonce.Destination}}</h2>
                           	<span>$ {{annonce.prix}}</span>
                          	<a href="{{ path('annonce_show', { 'id': annonce.idAnnonce }) }}"></a> 	
                          </div>
                        </li>
                       
                        {% endfor %}
                    </ul>
                    
                    
                   
                                        
                                        
                                        <!-- Reservation box -->
                    <div id="accordion">

                      <h3> <span class="flight">Voyage</span> <a href="#"></a> </h3>
                      <form method="post" action="{{path('recherche2')}}">
                      <div class="detail">
                         
                            

                            <div class="location clearfix">
                                <div class="pull-left">
                                    <label>Depart</label>
                                    <input type="text" name="depart" placeholder="Depart">
                                </div>
                                <div class="pull-right">
                                    <label class="dst">Destination</label>
                                        <input type="text" name="destination" placeholder="Destination">
                                </div>
                            </div>

                            <div class="location clearfix">

                                <div class="pull-left">
                                    <div class="date clearfix">
                                        <div class="Depart-Date">
                                            <label>Date Depart</label>
                                            <input type="text" name="datedep" value="30.01.2014" id="datepicker">
                                        </div>
                                        <div>
                                            <label>Date Retour</label>
                                            <input type="text" name="datefin" value="30.01.2014" id="clender">
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="persons">
                                        <div class="ad">
                                            <label>Prix</label>
                                            <input type="number" name="prix" value="100" id="spinner" min=0>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>

                            
                      </div>
                      
                      <h3> <span class="hotel">Hotel</span> <a href="#"></a></h3>
                      <div class="detail">
                            <div class="trip">
                                <input type="radio" name="trip" value="Residance"><span>Residance</span>
                                <input type="radio" name="trip" value="hotel"><span>*</span>
                                <input type="radio" name="trip" value="hotel 2 *"><span>2*</span>
                                <input type="radio" name="trip" value="hotel 3 *"><span>3*</span>
                                <input type="radio" name="trip" value="hotel 4 *"><span>4*</span>
                                <input type="radio" name="trip" value="hotel 5 *"><span>5*</span>
                                <br>
                                <br>

                                    <label class="dst">Hotel</label>
                                    <input type="text" name="nomhotel" placeholder="Nom Hotel">
                            </div>
                      </div>

                      <div class="search">
                                <input type="submit" name="search" value="SEARCH" >
                            </div>
                      </form>
                   </div>
                    <!-- Reservation box -->
                    
                </div>
                <!-- Slider -->

                <!-- Special Offer -->
               	<div class="specialoffer-wrapper">
                	<div class="container">
                    	
                        <!-- Heading -->
                        <div class="row">
                        	<div class="span12">
                            	<div class="heading">
                                	<h2>Offre <span>Special</span></h2>
                                </div>
                            </div>
                        </div>
                        <!-- Heading -->
                         
                        <div class="row offer-sec">
                        <ul class="elastislide-list clearfix" id="carousel">
                {% for annonce in annonces %} 
                            <li class="span3">
                            	<div class="offer">
                                	<figure>
                                		<img src="{{asset('bundles/voyage/images/offerpic-1.png')}}"  alt="Offer Image">
                                		<div class="overlay">
                                			<a href="#" class="like"></a>
                                		</div>
                                    </figure>
                                    <article>
                                    	<h3>{{annonce.nom}}</h3>
                                        <h4>{{annonce.Destination}}</h4>
                                        <p><a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </p>
                                        <span>Read 8 Reviews</span>
                                    </article>
                                    <div class="price">
                                    	<h3>{{annonce.prix}}$</h3>
                                        <a href="{{ path('annonce_show', { 'id': annonce.idAnnonce }) }}"></a>
                                    </div>
                                </div>
                            </li>
                          {% endfor %}  
                           
                            
                             
                            
                      
                           
                            
                        </ul>
                        <div class="crousal-btn">
                        	<a href="#" class="prev"></a>
                            <a href="#" class="next"></a>
                        </div>

                    </div>
                
                	</div>
                </div>
                <!-- Special Offer -->
                
              
</div>

{% endblock %}