{% extends "VoyageBundle::layout.html.twig"%}

{% block contains %}

	<!-- Crum -->
                <div class="crum-wrapper">
                	<div class="container">
                    	<div class="row">
                        	<div class="span12">
                            	<a href="#">Accueil</a>
                                <span class="crum">List Annonce</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Crum-->
                <!-- Grid page -->
                <div class="content">
                    <div class="container">
                        <center>
                        <div class="row">


                            <div class="span9 right_content">
                                <div class="row">
                                    <div class="portfolio-nav span9 clearfix">
                                        <strong>Tri par :</strong>
                                        <ul class="option-set clearfix" data-option-key="filter">
                                            <li><a href="#filter" data-option-value="*"  class="selected">Defaut</a></li>
                                            <li><a href="#filter" data-option-value=".branding" >Heberegement </a></li>
                                            <li><a href="#filter" data-option-value=".price" >Prix</a></li>
                                            <li><a href="#filter" data-option-value=".star" >Noter</a></li>
                                            <li><a href="#filter" data-option-value=".rate" >Commenter</a></li>
                                        </ul>
                                        
                                        <div class="grid_btn clearfix">
                                            <a href="{{path('annonce')}}" class="grid active"></a>
                                            <a href="{{path('annonce2')}}" class="list"></a>
                                        </div>
                                        <div class="clearfix"></div>

                                        <span class="border"></span>
                                    </div>
                                </div>


                                <div class="row" id="project-container">
                                           
                               {% for entity in entities %} 
                                     {% set verif = 0 %}
                                    {% for hh in h %}
                                        
                                        {%  if  entity.id_Annonce==hh.id_Annonce %}
                                        <div class="span3 offer element branding">
                                            {% set verif = 1 %}
                                        {% endif%}
                                    {% endfor %}
                                                
                                    {% for pp in p %}
                                        {%  if  entity.id_Annonce==pp.id_Annonce and verif!=1 %}
                                        <div class="span3 offer element price"> 
                                            {% set verif = 1 %}
                                                
                                        {% endif%}
                                    {% endfor %}
                                     {% for nn in n %}
                                        
                                        {%  if  entity.id_Annonce==nn.id_Annonce and verif!=1 %}
                                        <div class="span3 offer element star"> 
                                            {% set verif = 1 %}
                                        {% endif%}
                                    {% endfor %}
                                    {% for cc in c %}
                                        
                                        {%  if  entity.id_Annonce==cc.id_Annonce and verif!=1%}
                                        <div class="span3 offer element rate">
                                            {% set verif = 1 %}
                                        {% endif%}
                                    {% endfor %} 
                                      {%  if  verif==0 %}
                                        <div class="span3 offer element">
                                        {% endif%}           

                                             
                                             
                                        
                                        <figure>
                                            <img src="{{asset('bundles/voyage/images/offerpic-1.png')}}"  alt="Offer Image">
                                            <div class="overlay">
                                                <a href="#" class="like"></a>
                                            </div>
                                        </figure>
                                        <article>
                                            <h3>{{entity.nom}}</h3>
                                            <h4>{{entity.destination}}</h4>
                                            <p><a href="#" class="active"></a>
                                                <a href="#" class="active"></a>
                                                <a href="#" class="active"></a>
                                                <a href="#"></a>
                                                <a href="#"></a>
                                            </p>
                                            <span>8 Com's à lire </span>
                                        </article>
                                        <div class="price">
                                            <h3>{{entity.prix}}</h3>
                                            <a href="{{ path('annonce_show', { 'id': entity.id_Annonce }) }}"></a>
                                        </div>
                                    </div>

                                    

                                  {% endfor %}

                                   

                                   
                                   
                                    

                                   

                                   
                                </div>

                                <span class="border"></span>
                            
                                <div class="pagination clearfix">
                                    <p>Showing<a href="#"> 9 </a>page   <a href="#">45</a></p>
                                    <div class="errows">
                                        <a href="#" class="left_errow"></a>
                                        <a href="#" class="right_errow"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </center>
                    </div>
                </div>
                <!-- Grid page -->
 



{% endblock %}
                
                
                
 