{% extends "VoyageBundle::layout.html.twig"%}

{% block contains %}



<head><script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>
    <script>
function getLocation()
  {
  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition,showError);
    }
  else{x.innerHTML="Geolocation is not supported by this browser.";}
  }

function showPosition(position)
  {
  var latlon=position.coords.latitude+","+position.coords.longitude;
  //var latlon=$att+","+$long;
    //var latlon=document.getElementById('b').value+","+document.getElementById('a').value;


  var img_url="http://maps.googleapis.com/maps/api/staticmap?center="
  +latlon+"&zoom=14&size=400x300&sensor=false";
  document.getElementById("mapholder").innerHTML="<img src='"+img_url+"'>";
  }

function showError(error)
  {
  switch(error.code) 
    {
    case error.PERMISSION_DENIED:
      x.innerHTML="User denied the request for Geolocation."
      break;
    case error.POSITION_UNAVAILABLE:
      x.innerHTML="Location information is unavailable."
      break;
    case error.TIMEOUT:
      x.innerHTML="The request to get user location timed out."
      break;
    case error.UNKNOWN_ERROR:
      x.innerHTML="An unknown error occurred."
      break;
    }
  }

          jQuery(function($) {
    // Asynchronously Load the map API 
    var script = document.createElement('script');
    script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
    document.body.appendChild(script);
});

function initialize() {
     var lat = document.getElementById('lat').value;
                var lon = document.getElementById('lon').value;
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'roadmap'
    };
                    
    // Display a map on the page
    map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);
    map.setTilt(45);
        
    // Multiple Markers
    var markers = [
        ['mon emplacement', 36.8986358,10.1898122],
        ['lemplacement de lhotel', lat,lon]
        
    ];
                        
    // Info Window Content
    var infoWindowContent = [
        ['<div class="info_content">' +
        '<h3>mon emplacement</h3>' +
        '<p>The London Eye is a giant Ferris wheel situated on the banks of the River Thames. The entire structure is 135 metres (443 ft) tall and the wheel has a diameter of 120 metres (394 ft).</p>' +        '</div>'],
        ['<div class="info_content">' +
        '<h3>Palace of hotel</h3>' +
        '<p>The Palace of Westminster is the meeting place of the House of Commons and the House of Lords, the two houses of the Parliament of the United Kingdom. Commonly known as the Houses of Parliament after its tenants.</p>' +
        '</div>']
    ];
        
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });
        
        // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(14);
        google.maps.event.removeListener(boundsListener);
    });
    
}
        </script>
          
       
</head>   



             
                           







<!-- Crum -->
                <div class="crum-wrapper">
                	<div class="container">
                    	<div class="row">
                        	<div class="span12">
                            	<a href="#">Accueil</a>
                                <span class="crum">Detail</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Crum-->


                <!-- Grid page -->
                <div class="content trave_detail">
                    <div class="container">
                        <div class="row">

                            <div class="span3" id="sidebar">
                                <div class="widget checking_form clearfix">
                                    <form action="#" method="post" class="clearfixc">

                                        <div class="check_detail">
                                            <h4>{{entity.nom}}</h4>
                                            <h5>{{entity.depart}}</h5>
                                            <div class="stars">
                                                <a href="#" class="active"></a>
                                                <a href="#" class="active"></a>
                                                <a href="#" class="active"></a>
                                                <a href="#"></a>
                                                <a href="#"></a>
                                            </div>
                                        </div>

                                        <div class="location clearfix">
                                            <div class="pull-left clearfix">
                                                <div class="date clearfix">
                                                    <div class="Depart-Date">
                                                        <label>Check in</label>
                                                        <input type="text" name="Location" value="{{entity.dateDeb|date('Y-m-d')}}" id="datepicker" readonly>
                                                    </div>
                                                    <div>
                                                        <label>Check Out</label>
                                                        <input type="text" name="Location" value="{{entity.dateFin|date('Y-m-d')}}" id="clender" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="check_detail clearfix" >
                                                <p class="first">Chambre Simple <span id=p1>{{entity.prix}}</span></p>
                                                <p class="two">Double Room <span id=p2>{{entity.prix/100*70}}</span></p>
                                            </div>

                                            <div class="pull-right">
                                                <div class="persons clearfix">
                                                    <div class="ad">
                                                        <label>Adultes</label>
                                                        <input type="text" name="Location" value="1" id="spinner">
                                                    </div>
                                                    <div class="ad">
                                                        <label>Enfants</label>
                                                        <input type="text" name="Location" value="0" id="spinner-two">
                                                    </div>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                        <p class="clearfix">Total <span> {{(entity.prix+(entity.prix/100*70))}}$</span></p>
                                        <div class="search">
                                            <input type="submit" name="search" value="Reserver Maintenant" >
                                        </div>
                                    </form>
                                </div>
                                <div id="widget_accordion">
                                    <h3> Select category <a href="#"></a></h3>
                                    <div class="widget">
                                        <div class="scrollbar1">
                                            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                            <div class="viewport">
                                                <div class="overview">
                                                    
                                          <div class="search">
                                              <div class="search">
                                                  <form action={{path('annonce_edit', { 'id': entity.idAnnonce})}}>
                                            <input type="submit" name="search" value="Modifier " >
                                            </form>
                                                 </div>
                                                  <br>
                                                  <br>
                                                  <form action={{path('annonce_delete', { 'id': entity.idAnnonce})}}>
                                            <input type="submit" name="search" value="Supprimer" >
                                                  </form>
                                        </div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="span9 right_content">
                                <div class="carousel_wrap">
                                    <div id="carousel-wrapper">
                                        <div id="carousel_two" class="cool-carousel">
                                            <span id="image1"><img src="{{asset('bundles/voyage/images/crosal-img.png')}}" alt=""/></span>
                                            <span id="image2"><img src="{{asset('bundles/voyage/images/crosal-img2.png')}}" alt="" /></span>
                                            <span id="image3"><img src="{{asset('bundles/voyage/images/crosal-img3.png')}}" alt="" /></span>
                                            <span id="image4"><img src="{{asset('bundles/voyage/images/crosal-img4.png')}}" alt=""/></span>
                                            <span id="image5"><img src="{{asset('bundles/voyage/images/crosal-img5.png')}}" alt=""/></span>
                                            <span id="image6"><img src="{{asset('bundles/voyage/images/crosal-img6.png')}}" alt="" /></span>
                                            <span id="image7"><img src="{{asset('bundles/voyage/images/crosal-img7.png')}}" alt="" /></span>
                                            <span id="image8"><img src="{{asset('bundles/voyage/images/crosal-img.png')}}" alt=""/></span>
                                        </div>
                                        <a href="#" class="prev"></a><a href="#" class="next"></a>
                                    </div>

                                    <div class="carousal-bottom">
                                        <div id="thumbs-wrapper">
                                            <div id="thumbs">
                                                <a href="#image1" class="selected"><img src="images/crosal-img.png"  alt="" /></a>
                                                <a href="#image2"><img src="{{asset('bundles/voyage/images/crosal-img4.png')}}" alt="" /></a>
                                                <a href="#image3"><img src="{{asset('bundles/voyage/images/crosal-img3.png')}}" alt=""/></a>
                                                <a href="#image5"><img src="{{asset('bundles/voyage/images/crosal-img5.png')}}"  alt=""/></a>
                                                <a href="#image6"><img src="{{asset('bundles/voyage/images/crosal-img6.png')}}"  alt=""/></a>
                                                <a href="#image7"><img src="{{asset('bundles/voyage/images/crosal-img7.png')}}" alt=""/></a>
                                                <a href="#image8"><img src="{{asset('bundles/voyage/images/crosal-img.png')}}" alt=""/></a>
                                            </div>
                                            <a id="prev" href="#"></a>
                                            <a id="next" href="#"></a>
                                        </div>
                                    </div>

                                    <span class="border"></span>
                                </div>

                                <div id="tabs_two">
                                    <ul class="clearfix">
                                        <li><a href="#tabs-1" class="one">Description</a></li>
                                        <li><a href="#tabs-4" class="two">Commentaire</a></li>
                                        <li><a href="#tabs-2" class="three">Details</a></li>
                                    </ul>
                                    <div id="tabs-1" class="tab clearfix" >
                                        <div class="detail clearfix">
                                            <h2> Description</h2>
                                            <ul>
                                                <li>{{entity.description}}</li>

                                            </ul>

                                            <input id="lat" name="lat" type="hidden" value="{{entity.att}}"/>
                            <input id="lon" name="lon" type="hidden" value="{{entity.long}}"/>
           
                           
                            
                            <div id="googleMap" style="width:650px;height:340px;"></div>

                                        </div>
                                    </div>
                                    <div id="tabs-2" class="tab clearfix" >
                                        <div class="detail">
                                           
                                             <h2>Transport</h2>
                                            <ul>
                                                <li>{{entity.transport}}</li>
                                               
                                            </ul>
                                    <div id="tabs-3" class="tab clearfix" >
                                        <div class="detail">
                                            <div class="map">
                                                
                                            </div>

                                            <h2>Hotel Location</h2>
                                            <p> {{entity.TypeHebergement}}</p>
                                        </div>
                                    </div>
                                        </div>
                                    </div>
                                    
                                    <div id="tabs-4" class="tab clearfix" >
                                        <div class="detail">
                                            <div class="row">

                                                <div class="span4 our_rating">
                                                    <form action="{{path('add_comment', { 'id': entity.idAnnonce })}}" method=post >
                                                    <h2>Comment</h2>

                                                    <ul>
                                                        <li class="first">{{error}} </li>
                                                        <li class="first">Nom : </li>
                                                        <li><a href="#" class="blue_star">{{username}}</a></li>
                                                        
                                                    </ul>

                                                    <ul>
                                                        <li class="first">Message</li>
                                                        <textarea name="message" id="comment" cols="50%" rows="10" tabindex="4"></textarea>
                                                    </ul>

                                                  

                                                    <ul class="last">
                                                        <input name="submit" type="submit" id="submit" tabindex="5" value="Publiez le commentaire">
                                                    </ul>
                                                    </form>
                                                </div>


                                                <div class="span4">
                                                    <div class="hotdeal">
                                                        <div class="deal-header">
                                                            <h3>Comments</h3>
                                                        </div>

                                                        <div id="">
                                                            <ul>
                                                                {% for comment in comments %}
                                                                <li>
                                                                    <figure class="pull-left"><img src="{{asset(comment.logo)}}" alt="Pic"></figure>
                                                                    <article class=" clearfix">
                                                                        <div class="hot pull-left">
                                                                            <h5>{{comment.nom}}</h5>
                                                                            <span>{{comment.date}}</span>
                                                                            <p>{{comment.message}}</p>
                                                                        </div>
                                                                    </article>
                                                                </li>
                                                               {% endfor %}
                                                            </ul>
                                                        </div>
                                                        <div class="pull-right">
                                                            <a href="#" class="d-down"></a>
                                                            <a href="#" class="d-up"></a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid page -->

  
                
                {% endblock %}